$blue: #29619a;
$red: #a42222;
$backgroundColor: #ddd;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Monserrat", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  background-color: $backgroundColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
main {
  transform: translateY(-50px);
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  .logo {
    font-size: 8rem;
    margin-bottom: 40px;
    pointer-events: none;
    #psgc {
      color: $red;
    }
    #rest {
      color: $blue;
    }
  }
  .links {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    a {
      text-decoration: none;
      color: $blue;
      transition: all 0.3s ease;
      font-size: 1.2rem;
      &:hover {
        color: $red;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .logo {
    font-size: 5rem !important;
  }
}
@media screen and (max-width: 400px) {
  .logo {
    font-size: 3.5rem !important;
  }
}
