$blue: #016EEA;
$red: #a42222;

body {
    background-color: #ddd;
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    height: 100%;
    display: grid;
    place-items: center;

    main {
        display: grid;
        place-items: center;
        height: 100vh;
        text-align: center;

        .logo {
            font-size: 8em;
            cursor: default;

                #psgc {
                    color: $blue;
                }

                #api {
                    color: $red;
                }
        }

        .content {
            text-align: center;
            font-size: 1.2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            line-height: 0px;

            h2 {
                font-weight: normal;
                > a {
                    text-decoration: none;
                    color: $blue;

                    &:hover {
                        color: $red;
                        transition: all 0.3s ease-out;
                    }
                }
            }
        }
    }
}

// Mobile View
@media screen and (max-width: 900px) {
    .logo {
        font-size: 5rem;
    }
}
